{% extends "layout.njk" %}

{% block body %}



<div class="container">
	<div class="row">
		<div class="col-md-4">
			{% include "menu.njk" %}
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-7">
			
			{% raw %}

			<div id="app" style="margin-top: 100px;">
				<h3 class="mb-5">Crear nueva colección</h3>
				<form @submit.prevent="submitForm">
					<div class="form-group">
						<label for="">Selecciona el proyecto</label>
						<select class="form-control mb-4" v-model="proyectoSeleccionado">
							<option value="">Seleccionar proyecto...</option>
							<option v-for="proyecto in proyectos" :key="proyecto.id" :value="proyecto.id">{{proyecto.name}}</option>
						</select>
					</div>

					<div class="form-group">
						<label for="exampleInputEmail1">Escriba el nombre de la colección a crear:</label>
						<input type="text" class="form-control" id="nombre" placeholder="Nombre" v-model="coleccion.name">
					</div>
					<div class="form-group">
						<label for="">Modelo de la colección (JSON)</label>
						<textarea class="form-control" id="modelo" rows="10" v-model="coleccion.model"></textarea>
						<small>Ver documentación en <a href="https://mongoosejs.com/docs/schematypes.html" target="_blank">https://mongoosejs.com/docs/schematypes.html</a></small>
					</div>
					<button type="submit" class="btn btn-success btn-lg mt-3">Crear nueva colección</button>
				</form>
			</div>

			{% endraw %}

		</div>
	</div>
</div>


<script>

	new Vue({
		el: '#app',
		data: {
			proyectos: [],
			proyectoSeleccionado: "",
			coleccion: {
				projectId: "",
				name: "",
				model: '{"name": "String", "age": "Number"}'
			}
		},
		methods: {

			submitForm() {

				this.coleccion.projectId = this.proyectoSeleccionado

				console.log (this.coleccion)

				let axiosConfig = {
					url: '/api/coleccion',
					data: this.coleccion,
					options: { headers: { 'content-type': 'application/json' } }
				}

				axios.post(axiosConfig.url, axiosConfig.data, axiosConfig.options)
					.then( response => alert('Se ha creado la colección'))
					.catch( err => alert('Error al crear colección'))
			}
		},
		mounted() {
			axios.get('/api/proyectos').then(response => this.proyectos = response.data.projects);
		}
	})
</script>


{% endblock %}